.App {
  text-align: center;
}

section{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
#news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
img {
  width: 50%
}
li {
  list-style: none;
}
a {
  display: block;
}
.beer {
  width: 10%
}
.random_beer {
  width:10%
}
